* {
    box-sizing: border-box;
}

body {
    background-color: black;
   
}

/* corrected per Susanne instructions
nice to learn something new :)
*/
img {
  border-radius: 100%;
  height: 250px;
  width: 250px;
  object-fit: cover;
}
